name: fire_starter
description: jumpstarts firebase projects
version: 0.0.1
author: Amitabh Mehta
homepage: https://github.com/4mitabh/flutter_starter

environment:
  sdk: "2.10.5" # 2.12
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  firebase_auth: ^0.20.0
  firebase_core: ^0.7.0
  cloud_firestore: ^0.16.0
  firebase_messaging: ^8.0.0-dev
  firebase_storage:
  firebase_analytics:
  google_sign_in:
  sign_in_with_apple:
  intl_phone_number_input:
  devicelocale:
  logger:
  get:
  country_pickers:
  get_storage:
  flutter_sheet_localization:
  google_nav_bar:
  intl:
  package_info_plus:
  url_launcher:
  flex_color_scheme:
  google_fonts:
  auto_size_text:
dev_dependencies:
  flutter_test:
    sdk: flutter
  build_runner: ^1.10.2
  flutter_sheet_localization_generator:

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  # To add assets to your package, add an assets section, like this:
  # assets:
  #   - images/a_dot_burr.jpeg
  #   - images/a_dot_ham.jpeg
  #
  # For details regarding assets in packages, see
  # https://flutter.dev/assets-and-images/#from-packages
  #
  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.
  # To add custom fonts to your package, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts in packages, see
  # https://flutter.dev/custom-fonts/#from-packages
